anaconda-anon-usage==0.4.4
archspec==0.2.3
boltons==23.0.0
brotli-python==1.0.9
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
conda==24.7.1
conda-content-trust==0.2.0
conda-libmamba-solver==24.7.0
conda-package-handling==2.3.0
conda-package-streaming==0.10.0
cryptography==42.0.5
distro==1.9.0
frozendict==2.4.2
idna==3.7
jsonpatch==1.33
jsonpointer==2.1
libmambapy==1.5.8
menuinst==2.1.2==py312h06a4308_0
platformdirs==3.10.0==py312h06a4308_0
pluggy==1.0.0
pycosat==0.6.6
pycparser==2.21
pysocks==1.7.1
requests==2.32.3
ruamel.yaml==0.17.21
setuptools==72.1.0
tqdm==4.66.4
truststore==0.8.0
urllib3==2.2.2
wheel==0.43.0
zstandard==0.22.0==py312h2c38b39_0
