.st-emotion-cache-4zpzjl {
    background-color: #1dadf0;
}

.st-emotion-cache-jmw8un{
    background-color: #04a93d;
}

.hora {
    text-align: right;
     font-size: 0.8em;
      color: rgb(184, 180, 180);
}
  